<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta charset="UTF-8" /> 
    <meta name="title" content="Sangha Raffles" /> 
    <meta name="description" content="Learn about Sangha Raffles and Buy a Ticket to support a worthy charity" /> 
    <meta name="keywords" content="Raffle Home game charity real estate house game economic crisis solution" /> 
    <meta name="lang" content="en" /> 
    <meta name="robots" content="index, follow" /> 
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <meta content="Skylar Saveland" name="author" />
    <title>{% block title %}Sangha Raffle{%endblock%}</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery-ui-1.8.2.custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/nav.css" media="screen" />
    {% endblock %}
    {% block extrahead %}{% endblock %}
  </head>


  <body>
    <div id="page" class="container_12">
      <div id="nav" class="grid_3">
        <a href="/"><img style="width:100%;" src="{{MEDIA_URL}}img/skyl_600x423.jpg"></img></a>
      </div>

      <div id="content" class="grid_9">
        {% block content %}
        {% endblock %}
      </div>
      <div class="clear"></div>

      <div id="footer" class="grid_12 block">
	{% block footer %}
	<div id="foot" class="box">
          <p>
	    Fluid-boiler by 
	    <a href="http://skyl.org/">Skylar Saveland</a> 
	  </p>
	</div>
	{% endblock %}
      </div>
      <div class="clear"></div>
    </div>

    {% block javascript_base %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.2.custom.min.js"></script>
      {% block javascript %}
      {% endblock %}
    {% endblock %}

  </body>
</html>
